<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="DCMAConnectionString1" connectionString="Data Source=JAKDEN-PC\SQLEXPRESS;Initial Catalog=DCMA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DCMAConnectionString" connectionString="Data Source=JAKDEN-PC\SQLEXPRESS;Initial Catalog=DCMA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="dcmaHCCCConnectionString" connectionString="Data Source=JDENNIS-PC\SQLEXPRESS;Initial Catalog=dcmaHCCC;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <roleManager enabled="true" />
        <authentication mode="Forms" />
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
